header {
    margin-top: 56px;
}
.bg-theme {
    background-color:#54a3c7;
}
.text-tagline {
    color: #000000;
    font-size: 23px;
    font-weight: 300;
    max-width: 800px;
    margin: 0 auto;
}
.text-bg-custom {
    color: rgb(255, 255, 255)!important;
    background-color: #a2eeff;
}
.img-holder {
    height: 0;
    padding-bottom: 33%;
    overflow: hidden;
    margin-top: 30px;
}
.bg-section-one {
    background-color: #eafcfc;
}
.title {
    color: #00b2c9;
}
.callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid#eee;;
    border-left-width: 5px;
    border-radius: 3px;
    background-color: white;
}
.callout-default {
    border-left-color: #3cc4c9;
}
.callout2 {
    padding: 20px;
    margin: 20px 0;
    border: 4px solid #3cc4c9;
    border-left-width: 5px;
    border-radius: 3px;
    background-color: white;
}
.callout-default2 {
    border-left-color: #3cc4c9;
}
.bg-section-one {
    background-color: #eafcfc;
}
.perspective-phone {
    position: relative;
    z-index: -1;
    margin-top: -300px;
    width: 500px;
    margin-top: -550px;
    margin-right: auto;
}
.perspective-phone2 {
    position: relative;
    z-index: -1;
    margin-top: -120px;
    width: 500px;
    margin-top: -300px;
    margin-right: auto;
}
@media only screen and (max-width: 600px) {
    .perspective-phone {
        margin-top: 0;
    }
}